$font-principal: "Open Sans", sans-serif;
$font-titulo: "Montserrat", sans-serif;

$black-background: #0c0909;

$azul-principal: #143ca8;
$azul-medio: #11417b;
$azul-medio2: #022857;
$azul-claro: #00c8ff;


$verde-principal: #108900;
$verde-claro: #19b904;

$vermelho-principal: #c52020;
$vermelho-claro: #dd0d0d;

$amarelo-principal: #e8e806;
$amarelo-claro: #fbff00;